.des h1{
    color: #004796;
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
    
}
.orang-text{
    color: #FF681A;
    font-weight: bold;
}
.des p{
    text-transform: capitalize;
    color: #004796;
    letter-spacing: 2px;
}
.col-md-6 img {
    width: 150px; /* Set the desired width value */
    height: 150px;
    border-radius: 50%;
  }
  .row p {
    font-size: 12px; 
  }
  .custom{
    background-color:#004796;
    border-color:#004796;
    border-radius: 5px;
    color: #FFF;
}

