<div class="text-center py-5">
    <p class="blue ">Offers</p>
    <h1 class="bold-blue">Best Offers  <span class="orange">for you</span></h1>
    <app-rang-lider></app-rang-lider>
  </div>

<div class="container">
      <div class="row ">
        <div class="col-md-6  ">
        <div class="bg">
      <!-- Content for the first part -->
      <div class="discound ">
        <img src="../../../assets/img/dicound-img-L.png " class="dis-img">
        
        <div class="nandstars dis-num">
            <h1 class="orange">100$</h1>
            <img src="../../../assets/img/stars.png" class="stars">
        </div>
      </div>
      <!--end of discound-->
        <div class="container py-5  py-5">
          <div class="image-stack py-5">
            <img src="../../../assets/img/c-sea.png" class="img1" alt="Image 1">
            <!-- <div class="text1">Text 1</div> -->
            <img src="../../../assets/img/c-sea.png" class="img2" alt="Image 2">
            <!-- <div class="text2">Text 2</div> -->
            <img src="../../../assets/img/c-sea.png" class="img3"alt="Image 3">
            <!-- <div class="text3">Text 3</div> -->
          </div>
        </div>
      <!--end of photo-->
      <div class="prag">
        <p>We offer you offers on some tourist cities with discounts of up to about 15% 
            on these trips tourist cities with discounts of up to about We offer you offers 
            on some tourist cities with discounts 
            of up to about 15% on these trips tourist cities with discounts of up to about.</p>
      </div>
      <!--end of dparagraph-->
      <div class="row">
           <div class="col-md-6">
            <div class="img-text d-flex justify-content-start">
                <i class="fas fa-clock"></i>
                <p>5-days</p>
           </div>
           <div class="d-flex justify-content-start">
               <i class="fas fa-user-friends"></i>
               <p>7</p>
           </div>
        </div>
        <div class="col-md-6">
           <div class="img-text d-flex justify-content-start">
            <i class="fas fa-map-marker-alt"></i>
            <p>location</p>
       </div>
       <div class="d-flex justify-content-start">
           <i class="fas fa-dollar-sign"></i>
           <p>15%</p>
       </div>
     </div>
      </div>
      <!--end of icon with text-->
      <div class=" d-flex justify-content-end">
        <button class="custom">View More Deatials</button>
      </div>
      <!--end of button-->
    </div>
        </div>

        <!--card2-->
        <div class="col-md-6  ">
          <div class="bg">
        <!-- Content for the first part -->
        <div class="discound ">
          <img src="../../../assets/img/dicound-img-L.png " class="dis-img">
          
          <div class="nandstars dis-num">
              <h1 class="orange">100$</h1>
              <img src="../../../assets/img/stars.png" class="stars">
          </div>
        </div>
        <!--end of discound-->
          <div class="container py-5  py-5">
            <div class="image-stack py-5">
              <img src="../../../assets/img/c-sea.png" class="img1" alt="Image 1">
              <!-- <div class="text1">Text 1</div> -->
              <img src="../../../assets/img/c-sea.png" class="img2" alt="Image 2">
              <!-- <div class="text2">Text 2</div> -->
              <img src="../../../assets/img/c-sea.png" class="img3"alt="Image 3">
              <!-- <div class="text3">Text 3</div> -->
            </div>
          </div>
        <!--end of photo-->
        <div class="prag">
          <p>We offer you offers on some tourist cities with discounts of up to about 15% 
              on these trips tourist cities with discounts of up to about We offer you offers 
              on some tourist cities with discounts 
              of up to about 15% on these trips tourist cities with discounts of up to about.</p>
        </div>
        <!--end of dparagraph-->
        <div class="row">
             <div class="col-md-6">
              <div class="img-text d-flex justify-content-start">
                  <i class="fas fa-clock"></i>
                  <p>5-days</p>
             </div>
             <div class="d-flex justify-content-start">
                 <i class="fas fa-user-friends"></i>
                 <p>7</p>
             </div>
          </div>
          <div class="col-md-6">
             <div class="img-text d-flex justify-content-start">
              <i class="fas fa-map-marker-alt"></i>
              <p>location</p>
         </div>
         <div class="d-flex justify-content-start">
             <i class="fas fa-dollar-sign"></i>
             <p>15%</p>
         </div>
       </div>
        </div>
        <!--end of icon with text-->
        <div class=" d-flex justify-content-end">
          <button class="custom">View More Deatials</button>
        </div>
        <!--end of button-->
      </div>
          </div>
        
    </div>
</div>


  
