
  .custom{
    background-color:#004796;
    border-color:#004796;
    border-radius: 5px;
    color: #FFF;
}
.carousel-image{
    width: 150px; /* Set the desired width value */
    height: 150px;
    border-radius: 50%;
    position: absolute;
    top:0;
    left :50%;


}

.row{

  .col-md-6 {

    position: relative;
    height: 200px;

  }


}

  .blue{
    color:#004796;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;

  }
  .custom{
    background-color:#004796;
    border-color:#004796;
    border-radius: 5px;
    color: #FFF;
}
