.new-blue-head{
  height: 50px;
  background: linear-gradient(45deg,#3372B8,#004796);
  padding: 4px;
}
.girl-face{
  width: 30px;
  height: 30px;
  margin-left: 10px ;
  margin-right: 10px;
 }

p{
  color: white;

  font-size: 12px;
}
.img-fluid{
  width: 20px;
  height: 20px;
  margin: 5px;
}
.vertical-line {
  border-left: 1px solid white;
  height: 25px;
  margin-top: 5px;
}
.col-md-4{
  height: 100%;



}
.empty{ width: 5%;}
  .whats-text{ width: 45%;}
  .last-div{ width: 40%;}
  .empty-last{width: 5%;}
  .fas {
      font-size: 2px; /* Adjust the size of the vertical line icon */
      color: white;
  }
  .fab  {
    background-color: white;
    color: #004796;
    padding: 5px;
    margin: 3px;
    border-radius: 50%;
    padding: 7px;
    margin: 3px;
    border-radius: 50%;
    width: 26px;
    height: 26px
  }
  .insta{
    background-color: white;
    color: #004796;
    padding: 5px;
    margin: 3px;
    border-radius: 50%;
    padding: 6px;
    margin: 3px;
    border-radius: 50%;
    width: 26px;



  }




