<!-- <div class="new-blue-head">
    <div class="text-center py-2">
        <div class="d-flex justify-content-center">
            <div class="d-flex justify-content-start">
              <img class="img-fluid" src="../../assets/icons8-whatsapp.svg">
              <p class="py-1 ">+201011117381-24/7Help Support</p>
           </div>
       </div>
    </div>
<div class="d-flex justify-content-end">
    <div class="d-flex ">
            <img class="img-fluid" src="../../assets/tripadvisor.png">
            <img class="img-fluid" src="../../assets/facebook.png">
            <img class="img-fluid" src="../../assets/instagram.png">
            <div class="v-line"></div>
        <div class="white">
            <img class="girl-face" src="../../assets/female-avatar-girl-face-woman-user-5-svgrepo-com.svg">
        </div>
   </div>

</div>
</div> -->
<div>

    <div class="new-blue-head ">
        <div class="row">
            <div class=" col-md-3 col-sm-6 empty">
            </div>
            <div class="  col-md-3 col-sm-6 d-flex whats-text ">

                    <img class="img-fluid" src="../../../assets/img/icons8-whatsapp.svg">
                    <p class="py-2">+201011117381-24/7Help Support</p>

            </div>
            <div class=" last-div col-md-3  col-sm-6 d-flex justify-content-between">
            <div class="d-flex ">
                        <i class="fab fa-facebook-f "></i>
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-instagram insta"></i>
                        <div class="vertical-line "></div>
            </div>

            </div>
            <div class=" col-md-3 col-sm-6 empty-last d-flex justify-content-center">
              <div>
                <img class="girl-face" src="../../../assets/img/female-avatar-girl-face-woman-user-5-svgrepo-com.svg">

            </div>
            </div>


        </div>
    </div>
    </div>
