<div class=" text-center py-5">
    <p class="blue ">CITY TOUR</p>
    <h1 class="bold-blue">Our <span class="orang-text">Tours</span></h1>
    <app-rang-lider></app-rang-lider>
  </div>
  <div class=" bg text-center py-4 ">
    <owl-carousel-o [options]="customOptions" >
      <ng-container *ngFor="let slide of slidesStore">
        <ng-template carouselSlide class="owl-stage" >
            <div style="background-image: url({{slide.image}});" class="owl-item carousel-image">
          <!-- <img [src]="slide.image" class="owl-item carousel-image"> -->
        </div>
          <div class="carousel-caption">
            <!-- <img src="../../assets/dicound-img-R.png" class="r-dis img-fluid"> -->
            <p>{{ slide.caption }}</p>
            <p><i class="fas fa-map-marker-alt me-3"></i>{{ slide.description }}</p>
            <!-- Add any additional content here -->
          </div>
          
        </ng-template>
      </ng-container>
  
    </owl-carousel-o>
    <div class="btn-container text-center">
        <button class="custom">View All</button>
      </div>
  </div>
  
  
  
