.bold-blue{
    color: #004796;
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
    
}
.orang-text{
    color: #FF681A;
    font-weight: bold;
}
.blue{
    text-transform: capitalize;
    color: #004796;
    letter-spacing: 2px;
}
.carousel-image {
    opacity: 1; 
  }
.bg{
    background-image: url(../../../assets/img/summer-background-sea-water.jpg);
    width: 100%;
    height: 300px;
    opacity: 0.8;
    margin-top: 100px;
    justify-items: center;
}
 .owl-item {
   border-radius: 20px;
   opacity: 1;  
}
.carousel-caption {
    text-align: left;
    padding: 0;
  }
.fas{
    color: #FF681A;
}
.custom{
    background-color:#004796;
    margin: 50px;
    border-color:#004796;
    border-radius: 5px;
    color: #FFF;
}
.orange{
  color: #FF681A;
  font-weight: bold;
}
.blue{ color: #004796; 
  text-transform: uppercase;
}
.r-dis {
  width: 50px;
  height: 40px;
  position: absolute;
  top:0;
  left:0;
}
.bold-blue{
  color: #004796;
  font-weight: bold;
}
.owl-prev{

  margin-top: -10px !important; 
}



